.carousel {
  margin-top: 20px;
}
.military__img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  max-height: 650px;
}
.military__title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  text-decoration: underline 2px solid black;
  text-underline-offset: 6px;
}
