<div class="footer">
  <div class="footer-column-info">
    <h1 class="footer-title">Полезное</h1>
    <a href="/auth" rel="noreferrer" target="_blank" class="link">
      Личный кабинет
    </a>
    <a href="#" rel="noreferrer" target="_blank" class="link"> Контакты </a>

    <a href="#" rel="noreferrer" target="_blank" class="link"> Общежития </a>
    <a href="#" rel="noreferrer" target="_blank" class="link">
      Сроки подачи документов
    </a>
    <a href="/raiting" rel="noreferrer" target="_blank" class="link">
      Рейтинговые списки
    </a>
    <h1 class="footer-title">
      © Леопардный государственный университет одеял и технологий имени
      академика М.Ф. Решет, 2024
    </h1>
  </div>

  <div class="footer-column-info">
    <h1 class="footer-title">Приемная комиссия</h1>
    <div class="contact-text-block">
      <tui-icon icon="@tui.mail" class="contact-icon"></tui-icon>
      <a class="contact-text" href="mailto:kotegovtimofej@389gmail.com"
        >kotegovtimofej389gmail.com</a
      >
    </div>
    <div class="contact-text-block">
      <tui-icon icon="@tui.phone" class="contact-icon"></tui-icon>
      <a class="contact-text" href="tel:+79229600300">8-(922)-960-03-00</a>
    </div>
  </div>
</div>
