<header class="header">
  <a *ngIf="currentUrl && currentUrl !== '/'" href="/">
    <img
      src="https://abiturient.sibsau.ru/web/image/website/1/logo/%D0%90%D0%B1%D0%B8%D1%82%D1%83%D1%80%D0%B8%D0%B5%D0%BD%D1%82%20%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D0%B0%20%D0%A0%D0%B5%D1%88%D0%B5%D1%82%D0%BD%D1%91%D0%B2%D0%B0?unique=b636990"
      alt="logo"
      class="header__img-logo"
    />
  </a>
  <img
    *ngIf="currentUrl === '/'"
    alt="logo"
    src="https://abiturient.sibsau.ru/web/image/website/1/logo/%D0%90%D0%B1%D0%B8%D1%82%D1%83%D1%80%D0%B8%D0%B5%D0%BD%D1%82%20%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D0%B0%20%D0%A0%D0%B5%D1%88%D0%B5%D1%82%D0%BD%D1%91%D0%B2%D0%B0?unique=b636990"
    class="header__img-logo"
  />

  <div class="left__block">
    <a href="/auth">
      <button tuiButton type="button" class="button">
        <a> Личный кабинет</a>
      </button>
    </a>

    <!-- Первый дропдаун -->
    <button
      tuiButton
      tuiChevron
      type="button"
      [tuiDropdown]="dropdownContent1"
      [tuiDropdownManual]="open1"
      (click)="toggleDropdown(1)"
      class="button"
    >
      Главная
      <ng-template #dropdownContent1>
        <div class="dropdown">
          <a class="header__button-link" href="/auth">Личный кабинет</a>
          <a class="header__button-link" href="/instruction"
            >Инструкция к личному кабинету</a
          >

          <a class="header__button-link" href="#">Контакты</a>
          <a class="header__button-link" href="#">Сроки подачи документов</a>
          <a class="header__button-link" href="#">Общежития</a>
          <a class="header__button-link" href="#">Иностранным гражданам</a>
          <a class="header__button-link" href="#">Консултационный центр</a>
        </div>
      </ng-template>
    </button>

    <!-- Второй дропдаун -->
    <button
      tuiButton
      tuiChevron
      type="button"
      [tuiDropdown]="dropdownContent2"
      [tuiDropdownManual]="open2"
      (click)="toggleDropdown(2)"
      class="button"
    >
      Поступающему
      <ng-template #dropdownContent2>
        <div class="dropdown">
          <a href="#" class="header__button-link">Балаквариат и специалитет</a>
          <a href="#" class="header__button-link">Магистратура</a>
          <a href="/college" class="header__button-link">Колледж</a>
          <a href="#" class="header__button-link">Аспирантура</a>
          <a href="#" class="header__button-link">Списки подавших заявлений </a>
          <a href="/raiting" class="header__button-link"
            >Рейтинговые списки поступающих</a
          >
          <a href="#" class="header__button-link">Приказы о зачислении</a>
          <a href="#" class="header__button-link"
            >Инструкция к личному кабинету</a
          >
        </div>
      </ng-template>
    </button>
  </div>

  <!--Мобайл-->
  <tui-icon
    tuiButton
    appearance="flat"
    icon="align-justify"
    type="button"
    (click)="toggle(true)"
    (tuiActiveZoneChange)="toggle($event)"
    class="drop__button"
    [style.color]="'gray'"
  >
    <!-- Nest the directive so it is considered the same active zone -->
    <div *tuiSidebar="open; direction: 'right'">
      <tui-accordion [rounded]="false">
        <tui-accordion-item borders="top-bottom">
          Главная
          <ng-template tuiAccordionItemContent>
            <div class="dropdown-modal__block">
              <a href="/auth" rel="noreferrer" target="_blank" class="link">
                Личный кабинет
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Контакты
              </a>

              <a href="#" rel="noreferrer" target="_blank" class="link">
                Общежития
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Сроки подачи документов
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Консультационный центр
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Прием Граждан с ОВЗ
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Иностранным гражданам
              </a>
            </div>
          </ng-template>
        </tui-accordion-item>

        <tui-accordion-item borders="top-bottom">
          Поступающему
          <ng-template tuiAccordionItemContent>
            <div class="dropdown-modal__block">
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Балаквариат и специалитет
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Магистратура
              </a>
              <a href="/college" rel="noreferrer" target="_blank" class="link">
                Колледж
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Аспирантура
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Списки подавших заявления
              </a>
              <a href="/raiting" rel="noreferrer" target="_blank" class="link">
                Рейтинговые списки
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                Приказы о зачислении
              </a>
              <a
                href="/instruction"
                rel="noreferrer"
                target="_blank"
                class="link"
              >
                Инструкция к личному кабинету
              </a>
            </div>
          </ng-template>
        </tui-accordion-item>

        <tui-accordion-item borders="top-bottom">
          Институты
          <ng-template tuiAccordionItemContent class="dropdown-link__block">
            <div class="dropdown-modal__block">
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИКТ
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИГАИТД
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИКИВТ
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИММ
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИХТ
              </a>
              <a href="#" rel="noreferrer" target="_blank" class="link">
                ИЛТ
              </a>
            </div>
          </ng-template>
        </tui-accordion-item>
        <div class="dropwont-close__block"></div>
      </tui-accordion>
    </div>
  </tui-icon>
</header>
