<!--desktop-->

<div class="partner__block">
  <h1 class="under-title">Наши партнеры</h1>
  <div class="partner-card__block">
    <div class="partner-card" *ngFor="let item of items">
      <img src="{{ item.imgUrl }}" class="partner-card__img" />
      <h1 class="partner-card__title">{{ item.name }}</h1>
      <p class="partner-card__description">{{ item.description }}</p>
    </div>
  </div>
</div>

<!--mobile-->
<div class="partner__block-mobile">
  <h1 class="under-title">Наши партнеры</h1>
  <div class="carousel">
    <tui-carousel [duration]="duration" [(index)]="index" class="carousel">
      <ng-container *ngFor="let item of items">
        <div class="carousel__block-mobile" *tuiItem>
          <img src="{{ item.imgUrl }}" class="partner-card__img" />
          <h1 class="partner-card__title">{{ item.name }}</h1>
          <h2 class="partners-card__description">{{ item.description }}</h2>
        </div>
      </ng-container>
    </tui-carousel>
  </div>
  <tui-pagination
    size="l"
    class="pagination"
    [length]="items.length"
    [(index)]="index"
  />
</div>
