<h1 tuiTitle="l" class="banner__title">Давай знакомиться</h1>
<div class="banner__block" tuiCardLarge tuiSurface="elevated">
  <div class="banner__block-content">
    <div tuiCardLarge tuiSurface="elevated" class="banner__card-left">
      <h1 tuiTitle="l" [style.font]="'font-family:Open Sans'">
        Привет, всем будущим студентам 😉
      </h1>
      <div>
        <h2 tuiTitle="m">Мы №1 учебное заведение в городе Красноярск</h2>
      </div>
      <p tuiTitle="s" class="banner__text">
        Best of the best специальности в нашем университете 🤩
      </p>
      <div class="banner__chip-specialnosti">
        <tui-chip appearance="primary" class="banner__chip"
          ><h2 tuiTitle="s">Металлургия</h2></tui-chip
        >
        <tui-chip appearance="primary" class="banner__chip"
          ><h2 tuiTitle="s">IT технологии</h2></tui-chip
        >
        <tui-chip appearance="primary" class="banner__chip"
          ><h2 tuiTitle="s">Токарные работы</h2></tui-chip
        >
        <tui-chip appearance="primary" class="banner__chip"
          ><h2 tuiTitle="s">Оператор ЧПУ</h2></tui-chip
        >
      </div>
    </div>
    <div class="banner__card-right" tuiCardLarge tuiSurface="elevated">
      <div class="banner__card-right-content">
        <div
          tuiCardLarge
          tuiSurface
          tuiTheme="dark"
          class="banner__card-img1"
          tuiHeader
        >
          <p tuiTitle="s">IT технологии</p>
        </div>
        <div
          tuiCardLarge
          tuiSurface
          tuiTheme="dark"
          class="banner__card-img2"
          tuiHeader
        >
          <p tuiTitle="s">Оператор ЧПУ</p>
        </div>
        <div
          tuiCardLarge
          tuiSurface
          tuiTheme="dark"
          class="banner__card-img3"
          tuiHeader
        >
          <p tuiTitle="s">Металлургия</p>
        </div>
        <div
          tuiCardLarge
          tuiSurface
          tuiTheme="dark"
          class="banner__card-img4"
          tuiHeader
        >
          <p tuiTitle="s">Токарные работы</p>
        </div>
      </div>
    </div>
  </div>
</div>
