<div class="banner__block">
  <div class="banner-text__block">
    <h1 class="banner__title">
      Привет, всем студентам или будущим студентам 😉
    </h1>
    <h2 class="banner__text">
      <span>Мы</span> №1
      <span class="banner-bold__text">учебное заведение</span> г.Красноярска
    </h2>
    <div class="banner__text-under-block">
      <h3 class="banner__text-under">
        Наши студенты являются ведущими специалистами на предприятиях такого
        характера как:
      </h3>
      <div class="banner__card-block">
        <div class="banner__card">
          <h3 class="banner__card-title">Металлургия</h3>
        </div>
        <div class="banner__card">
          <h3 class="banner__card-title">IT технологии</h3>
        </div>
        <div class="banner__card">
          <h3 class="banner__card-title">Токарные работы</h3>
        </div>
        <div class="banner__card">
          <h3 class="banner__card-title">Оператор ЧПУ</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="banner__img-block">
    <img
      src="https://img.freepik.com/premium-vector/2d-vector-illustration-colorful-machine-worker-industry-its-development-technology-factor_918459-17895.jpg"
      class="banner__img"
    />

    <img
      src="https://img.freepik.com/free-psd/industry-item-icon_23-2150608097.jpg?t=st=1725893848~exp=1725897448~hmac=4d3298332bffc3176c7f41a1fabc2637dddd71dd753a16113dae2a65e0a0637e&w=1060"
      class="banner__img"
    />
    <img
      src="https://img.freepik.com/free-psd/3d-food-manufacturing-illustration_23-2150850250.jpg?t=st=1725893869~exp=1725897469~hmac=9bde205d1bdef35f97d5d253a42a4f9290e5162a30482108f5eeb99d02ae2b1b&w=1480"
      class="banner__img"
    />
    <img
      src="https://img.freepik.com/free-psd/gear-teamwork-concept-business-element-engine-machine-factory-development-web-icon-3d-illustration_56104-2151.jpg?t=st=1725893896~exp=1725897496~hmac=1b0f9dedeb3e55386503a7d80e3dbc152f90a1e2444e36c19941539e6db865e4&w=1380"
      class="banner__img"
    />
  </div>
</div>
