<section class="college-section">
  <h1 class="college__title">Аэрокосмический колледж</h1>

  <div class="college-card__block">
    <div class="college-card">
      <h1 class="college-card__title">Первые в сфере программирования</h1>
      <p class="college-card__description">
        Мы — первые в сфере программирования в России и странах СНГ
      </p>
    </div>
    <div class="college-card">
      <h1 class="college-card__title">Победители в WordSkills 2024</h1>
      <p class="college-card__description">
        Да, Да, мы те самые победители сложнейшего соревнования WordSkills 2024
      </p>
    </div>
    <div class="college-card">
      <h1 class="college-card__title">
        Более 1000 студентов работают по профессии уже со 2 курса
      </h1>
      <p class="college-card__description">
        На таких предприятиях как: Красмаш, Роснефть, Ростелеком
      </p>
    </div>
  </div>
  <h1 class="college__title">Cпециальности</h1>
  <div class="college__spec">
    <app-preloader *ngIf="loading" class="preloader"></app-preloader>
    <div class="college-spec-card" *ngFor="let item of specialnosti">
      <h1 class="college-spec-card__title">
        <span class="college-spec-title-name"> {{ item.name }}</span>
      </h1>
      <div class="college-spec-card__description">
        <h1 class="college-spec-card__title">Код специальности</h1>

        <p class="college-spec-card__description-text">
          {{ item.codespecialnosti }}
        </p>
        <h1 class="college-spec-card__title">
          Бюджет: {{ item.budget ? 'Да' : 'Нет' }}
        </h1>
      </div>
    </div>
  </div>
</section>
