@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #056c7d;
  --second: #00c8ff;
  --tui-font-text: 'Open Sans';
  --tui-font-text-m: bold 1rem/1.5rem var(--tui-font-text);
  --tui-font-text-s: normal 0.5rem/1.25rem var(--tui-font-text);
  --tui-background-accent-1: var(--primary);
  --tui-background-accent-1-pressed: var(--primary);
  --tui-text-primary-on-accent-1: #fff;
  --tui-text-primary-on-accent-2: #fff;
}

* {
  margin: 0;
  padding: 0;
}
body {
  user-select: none;
}
.under-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  text-decoration: underline 1px solid lightgray;
  text-underline-offset: 6px;
}
