<h1 class="title">
  Оригинал аттестата нужно принести до 15 августа! Иначе абитуриент не будет
  рассматриваться к зачислению
</h1>
<div class="column__primer">
  <div class="primer__block">
    <div class="color-primer"></div>
    <p class="primer-text">- Оригинал аттестата, рекомендован к зачислению</p>
  </div>
  <div class="primer__block">
    <div class="color-primer1"></div>
    <p class="primer-text">
      - Не оригинал аттестата, не рекомендован к зачислению
    </p>
  </div>
</div>

<h1 class="title">
  Технология машиностроение, очная форма, 9 классов, 3 года 10 месяцев
</h1>

<!-- Условие рендеринга таблицы только при наличии данных -->
<table border="1">
  <thead>
    <tr class="tui-table__title">
      <th>Место</th>
      <th>Средний балл</th>
      <th>ФИО</th>
      <th>Аттестат</th>
      <th>СВО</th>
      <th>Высший приоритет</th>
      <th>Особые условия</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [ngClass]="item.originalsertificate ? 'original' : 'back'"
      *ngFor="let item of students; let i = index"
    >
      <td class="text__td">{{ i + 1 }}</td>
      <td class="text__td">{{ item.averagescore }}</td>
      <td class="text__td">{{ item.fullname }}</td>
      <td class="text__td">{{ item.originalsertificate ? 'Да' : 'Нет' }}</td>
      <td class="text__td">
        <span [ngClass]="item.svo ? 'span-svo' : ''">{{
          item.svo ? 'Да' : 'Нет'
        }}</span>
      </td>
      <td class="text__td">{{ item.originalsertificate ? 'Да' : 'Нет' }}</td>
      <td class="text__td">{{ item.svo ? 'Да' : 'Нет' }}</td>
    </tr>
  </tbody>
</table>
