<div class="balaklavrat">
  <h1 tuiTitle="l" class="balaklavrat__title">Мега направления</h1>
  <div tuiCardLarge tuiSurface="elevated">
    <div class="balaklavrat__block-card">
      <a
        tuiCardLarge
        tuiSurface
        class="balaklavrat__card balaklavrat__card1"
        tuiTheme="dark"
        tuiHeader
        href="/"
      >
        <h2 tuiTitle="s" class="balaklavrat__text">
          IT технологии и программирование
        </h2>
        <p tuiTitle="s">Бюджетных мест: 600</p>
        <div class="card__arrow">
          <tui-icon icon="move-right" class="arrow" />
        </div>
      </a>

      <a
        tuiCardLarge
        tuiSurface
        class="balaklavrat__card balaklavrat__card2"
        tuiTheme="dark"
        tuiHeader
        href="/"
      >
        <h2 tuiTitle="s" class="balaklavrat__text">Оператор ЧПУ</h2>
        <p tuiTitle="s">Бюджетных мест: 150</p>
        <div class="card__arrow">
          <tui-icon icon="move-right" class="arrow" />
        </div>
      </a>

      <a
        tuiCardLarge
        tuiSurface
        class="balaklavrat__card balaklavrat__card3"
        tuiTheme="dark"
        tuiHeader
        href="/"
      >
        <h2 tuiTitle="s" class="balaklavrat__text">Металлургия</h2>
        <p tuiTitle="s">Бюджетных мест: 600</p>
        <div class="card__arrow">
          <tui-icon icon="move-right" class="arrow" />
        </div>
      </a>

      <a
        tuiCardLarge
        tuiSurface
        class="balaklavrat__card balaklavrat__card4"
        tuiTheme="dark"
        tuiHeader
        href="/"
      >
        <h2 tuiTitle="s" class="balaklavrat__text">Физик ядерных технологий</h2>
        <p tuiTitle="s">Бюджетных мест: 200</p>
        <div class="card__arrow">
          <tui-icon icon="move-right" class="arrow" />
        </div>
      </a>
    </div>
  </div>
  <div tuiCardLarge tuiSurface="elevated">
    <a href="/">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Все специальности</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Подавшие заявление</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/raiting">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Рейтинговые списки</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/zachisleniye">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Приказы о зачислении</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/hostel">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Общежития</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/hostel">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Кампусы университета</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Прием граждан с ОВЗ</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
    <a href="/">
      <div tuiCardLarge tuiHeader tuiTheme="dark" class="balakvariat__card-nav">
        <div class="balakvariat__card-nav-content">
          <p tuiTitle="s" href="/">Экзамены</p>
          <tui-icon icon="move-right" />
        </div>
      </div>
    </a>
  </div>
</div>
